-{%- style -%}


{%- endstyle -%}

<footer>
        <div class="footer-top-row">
            <img class="footer-logo" src="https://cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/logo-white-new.png?v=63947071723384878521658393950" alt="Diamond Art Club" />
        </div>
        <div class="footer-inner-container">
            <div class="footer-column first-column collapsed">
                <h3 class="footer-column-heading first-heading" onClick="collapseFooterCol(this)">About us <span class="plus-icon">+</span></h3>
                <ul>
                    <li><a href="#">Our story</a></li>
                    <li><a href="#">What is diamond art painting?</a></li>
                    <li><a href="#">Step-by-step instructions</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Customer reviews</a></li>
                    <li><a href="#">Store locator</a></li>
                </ul>
            </div>
            <div class="footer-column second-column collapsed">
                <h3 class="footer-column-heading second-heading" onClick="collapseFooterCol(this)">Customer service <span class="plus-icon">+</span></h3>
                <ul>
                    <li><a href="#">Contact us & FAQ's</a></li>
                    <li><a href="#">Free accidental insurance</a></li>
                    <li><a href="#">Lifetime warranty</a></li>
                    <li><a href="#">Shipping policy</a></li>
                    <li><a href="#">Return policy</a></li>
                </ul>
            </div>
            <div class="footer-column third-column collapsed">
                <h3 class="footer-column-heading third-heading" onClick="collapseFooterCol(this)">Savings & rewards <span class="plus-icon">+</span></h3>
                <ul>
                    <li><a href="#">Gift cards</a></li>
                    <li><a href="#">Cash back rewards</a></li>
                    <li><a href="#">Military & first responder discount</a></li>
                    <li><a href="#">Shop now, pay later!</a></li>
                    <li><a href="#">Affiliates</a></li>
                </ul>
            </div>
            <div class="footer-column fourth-column">
                <img class="footer-logo-mobile" src="https://cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/logo-white-new.png?v=63947071723384878521658393950" alt="Diamond Art Club" />
                <h2>Let’s keep in touch!</h2>
                <form class="newsletter-form">
                    <div class="newsletter-form-container">
                        <input type="text" placeholder="Email address" required />
                        <button type="submit">Sign me up</button>
                    </div>
                </form>
                <div class="social-media">
                    <ul>
                        <li class="social-media-item instagram"><a href="#"><img class="social-media-icon" src="https://cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/icon-instagram-new.svg?v=36372731561856731351651237218" alt="facebook-icon" width="16" height="16">
                        </a>
                    </li>
                        <li class="social-media-item facebook"><a href="#">
                            <img class="social-media-icon" src="//cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/icon-facebook-new.svg?v=96468593611124948721651237209" alt="facebook-icon" width="16" height="16" />
                        </a>
                    </li>
                        <li class="social-media-item pinterest"><a href="#">
                            <img class="social-media-icon" src="https://cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/icon-pinterest-new.svg?v=43238125418804831001651237224" alt="pinterest-icon" width="16" height="16" />
                        </a>
                    </li>
                        <li class="social-media-item youtube">
                            <a href="#">
                                <img class="social-media-icon" src="https://cdn.shopify.com/s/files/1/0017/7461/6627/t/453/assets/icon-youtube-new.svg?v=167808784201264870881651237254" alt="pinterest-icon" width="16" height="16" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <ul>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">CCPA</a></li>
                <li><a href="">Sitemap</a></li>
                <li><a href="">Archived kits</a></li>
                <li><span class="website-version">© 2022 </span><a href="#">Diamond art club</a></li>
            </ul>
        </div>
    </footer>


<script type="text/javascript">
// Collapsing footer col function
const collapseFooterCol = function(el) {

// Add collapsed class to the clicked col element
    el.parentNode.classList.toggle("collapsed");

// Get parent element height
    const parentHeight = getComputedStyle(el.parentNode, null).getPropertyValue("height");

// Get sibling list
    const colList = el.nextElementSibling;

// Set sibling list height adding 50px for more clear display
    const siblingHeight = (colList.clientHeight + 40 + 'px');

//const siblingHeight = getComputedStyle(sibling, null).getPropertyValue("height");
        
// Set fixed and dynamic heights to the clicked col element
    if (el.parentNode.classList.contains("collapsed")) {
        el.parentNode.style.height = "35px";
    } else {
        el.parentNode.style.height = siblingHeight;
    }
}
  
  </script>

{% schema %}
  {
    "name": "t:sections.custom_footer.name",
    "tag": "section",
    "class": "section",
  "presets": [
    {
      "name": "t:sections.presets.custom_footer.name"
    }
  ]
}   
{% endschema %}